# Use postgres/example user/password credentials
version: '3.1'

services:

  postgres-quote:
    image: postgres:alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432
