@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5 {
  font-family: 'Arvo', serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Serif JP', serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
